## Documentation: http://docs.travis-ci.com/user/languages/julia/

language: julia

julia:
  - 0.7
  # - 1
  # - nightly

os:
  - linux
  - osx

# matrix:
#  allow_failures:
#  - julia: nightly

notifications:
  email: false

after_success:
  - julia -e 'using Pkg; cd(dirname(dirname(pathof(uCSV)))); Pkg.add("Documenter"); Pkg.add("DataFrames"); Pkg.add("CodecZlib"); Pkg.add("CategoricalArrays"); include(joinpath("docs", "make.jl"))'
  - julia -e 'using Pkg; cd(dirname(dirname(pathof(uCSV)))); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder()); Codecov.submit(Codecov.process_folder())'
